<div class="wrapper">
  <div class="un">
    <h3 class="title">Montant désiré</h3>
  </div>
  <div class="deux">
    <form [formGroup]="desiredAmountForm">
      <input style="width: 75%" formControlName="desiredAmount" type="number" />
    </form>
  </div>
  <div class="trois">
    <button class="button" (click)="onSubmit()">Valider</button>
  </div>
  <div class="quatre">
    <button class="button" (click)="onNext()">Montant suivant</button>
  </div>
  <div class="cinq">
    <button class="button" (click)="onPrevious()">Montant précédent</button>
  </div>
  <div class="six">
    <div *ngIf="varToShow?.equal">
      <p class="text">Votre montant est composé des cartes suivantes :</p>
      <div
        style="display: inline-block"
        class="card"
        *ngFor="let card of resultForm.value.cards"
      >
        <h2>{{ card }}</h2>
      </div>
    </div>
  </div>
  <div class="sept">
    <div
      class="wrapperCase"
      *ngIf="!varToShow?.equal && varToShow?.floor && varToShow?.ceil"
    >
      <div class="unE">
        <p class="text">Choisissez entre :</p>
      </div>
      <div class="deuxE">
        <button
          class="buttonAmount"
          (click)="updateSubmit(varToShow.ceil?.value)"
        >
          {{ varToShow.ceil?.value }}
        </button>
      </div>
      <div class="troisE">
        <p class="text">ou</p>
      </div>
      <div class="quatreE">
        <button
          class="buttonAmount"
          (click)="updateSubmit(varToShow.floor?.value)"
        >
          {{ varToShow.floor?.value }}
        </button>
      </div>
    </div>
  </div>
</div>
