.wrapper {
  display: grid;
  margin: 0px;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(20px, auto);
  grid-template-areas:
    " un quatre "
    " deux . "
    " trois cinq "
    " six six "
    " sept sept";
}

.wrapperCase {
  display: grid;
  margin: 0px;
  padding: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(20px, auto);
  grid-template-areas: " unE unE deuxE troisE quatreE ";
}

.card {
  background: radial-gradient(#1ff5b8, #3ffef4);
  border-radius: 4px;
  padding: 32px 16px;
  margin: 40px;
  width: 30%;
  font-size: 42px;
  display:inline-block;
}

input[type="number"] {
  width: 100%;
  padding: 24px 40px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 24px;
}

.un {
  grid-area: un;
  text-align: center;
}
.deux {
  grid-area: deux;
  text-align: center;
}
.trois {
  grid-area: trois;
  text-align: center;
}
.quatre {
  grid-area: quatre;
  text-align: center;
}
.cinq {
  grid-area: cinq;
  text-align: center;
}
.six {
  grid-area: six;
  text-align: center;
}
.sept {
  grid-area: sept;
  text-align: center;
}

.button {
  transition-duration: 0.4s;
  background-color: #4caf50;
  border-radius: 4px;
  padding: 32px 16px;
  font-size: 24px;
  width: 30%;
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
  cursor: pointer;
}

.buttonAmount {
  transition-duration: 0.4s;
  background-color: #12bece;
  border-radius: 4px;
  padding: 32px 16px;
  font-size: 24px;
  width: 30%;
}

.buttonAmount:hover {
  background-color: #15c9b4; /* Green */
  color: white;
  cursor: pointer;
}

.title {
  font-size: 42px;
}

.text {
  font-size: 42px;
}

.unE {
  grid-area: unE;
  text-align: center;
}
.deuxE {
  grid-area: deuxE;
  text-align: center;
}
.troisE {
  grid-area: troisE;
  text-align: center;
}
.quatreE {
  grid-area: quatreE;
  text-align: center;
}
